<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <script src="https://js.pusher.com/4.2/pusher.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-ease.v1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Realtime D3 Chart</title>
</head>
<body>
    <script>
        // Server sends the Pusher app_key and app_cluster
        // data client-side using ejs templates. The
        // credential information stored in pusherConfig
        // is thereby made available for functions in 
        // app.js
        var pusherConfig = {
            app_key: '<%= app_key %>',
            app_cluster: '<%= app_cluster %>'
        }
        /**
         * Remove all rows from the table of tweets
         * after a time delay 
         */
        function clear_table(){
            var rows = $('tr','#mytable');
            rows.css("opacity","0");
            setTimeout(function(){
                rows.remove();
            },4000);
        }
        /**
         * Function to remove text displayed in the
         * input box form and call clear_table()
         * to remove all rows from the table of
         * tweets
         */
        function clear_keyword(){
            document.getElementById('keyword').value='';
            clear_table();
        }
        /**
         * Object defining a function to send AJAX 
         * call when "Submit" button is clicked by 
         * user after entering a keyword in the form.
         */
        var submitObj1 = {
            submitFun: function(){
                // Execute an AJAX call to "/keyword" 
                // with data for the string keyword 
                // the user entered into the form.
                $.ajax({
                type: "POST",
                url: "/keyword",
                data: {keyword:$('#keyword').val()},
                success: function(result,status,xhr){
                },
                error: function(xhr,status,error){
                }
                });
                return false;
            }
        }
        /**
         * Object defining a function to send AJAX 
         * call when "Allow All" button is clicked 
         * by user
         */
        var submitObj2 = {
            submitFun: function(){
                // Execute an AJAX call to "/keyword" 
                // with value "Allow All" 
                $.ajax({
                type: "POST",
                url: "/keyword",
                data: {keyword:$('#clear').val()},
                success: function(result,status,xhr){
                },
                error: function(xhr,status,error){
                }
                });
                return false;
            }
        }
    </script>
    <div id="wrapper">
        <!-- Div for d3 Plotting -->
        <div id="d3Container">
        </div>
        <!-- Div for HTML table of tweets -->
        <div id="tableContainer">
            <h2>
                Filtering Options
            </h2>
            <p>
                1. Click on a state to filter by that state, or outside the map to remove
            </p>
            <!-- Form for the user to enter keywords to filter tweets by.
            Uses "onsubmit" to define how form is submitted  -->
            <form onsubmit="return submitObj1.submitFun();">
                <!-- Input box where user can type in a keyword -->
                <label for="keyword">2. Enter a Keyword: </label>
                <input id="keyword" type="text" name="keyword">
                <!-- clear_table() function is called when the submit button is clicked
                and the keyword data is sent to the url "/keyword" -->
                <input type="submit" onclick="clear_table();" value="Filter">
            </form>
            <!-- "Allow All" button sends information to the server, informing it to
            remove all filtering by the previously entered keyword. Uses "onsubmit"
            to define how form is submitted -->
            <form onsubmit="return submitObj2.submitFun();">
                <input id="clear" type="submit" onclick="clear_keyword();" value="Allow All" name="keyword">
            </form>
            <br>
            <br>
            <!-- HTML table of tweets -->
            <table id="mytable">
            </table>
        </div>
    </div>
    <script src="javascripts/app.js"></script>
</body>
</html>